{% extends 'pages/trainers/base.html' %}

{% load i18n static %}

{% block title %}
  {{ _("Climb Hard - Edit Exercise Variation") }}
{% endblock title %}
{% block style %}
  <style>
        .alert {
            margin-top: 0.5rem;
        }

        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            padding: 0.75rem 1.25rem;
            border-radius: 0.25rem;
        }
  </style>
{% endblock style %}
{% block content %}
  <div class="container">
    <h1>Edit Exercise Variation</h1>
    <form method="post"
          action="{% url 'update_exercise_variation' exercise_variation.id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_sets">Sets:</label>
        {{ form.sets }}
        {% if form.errors.sets %}
          <div class="alert alert-danger">{{ form.errors.sets }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_repetitions">Repetitions:</label>
        {{ form.repetitions }}
        {% if form.errors.repetitions %}
          <div class="alert alert-danger">{{ form.errors.repetitions }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_seconds_per_repetition">
          Duration per Repetition (seconds):
        </label>
        {{ form.seconds_per_repetition }}
        {% if form.errors.seconds_per_repetition %}
          <div class="alert alert-danger">{{ form.errors.seconds_per_repetition }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_rest_per_set_in_seconds">Rest between Sets (seconds):</label>
        {{ form.rest_per_set_in_seconds }}
        {% if form.errors.rest_per_set_in_seconds %}
          <div class="alert alert-danger">{{ form.errors.rest_per_set_in_seconds }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_rest_per_repetition_in_seconds">
          Rest between Repetitions (seconds):
        </label>
        {{ form.rest_per_repetition_in_seconds }}
        {% if form.errors.rest_per_repetition_in_seconds %}
          <div class="alert alert-danger">
            {{ form.errors.rest_per_repetition_in_seconds }}
          </div>
        {% endif %}
      </div>
      {% if exercise_variation.exercise.should_add_weight %}
        <div class="form-group">
          <label for="id_weight_in_kilos">Weight (kilograms):</label>
          {{ form.weight_in_kilos }}
          {% if form.errors.weight_in_kilos %}
            <div class="alert alert-danger">{{ form.errors.weight_in_kilos }}</div>
          {% endif %}
        </div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock content %}
