{% extends 'pages/base.html' %}

{% load i18n static %}

{% block title %}
    {{ _("Climb Hard - Edit Exercise") }}
{% endblock title %}
{% block style %}
    <style>
        .alert {
            margin-top: 0.5rem;
        }

        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            padding: 0.75rem 1.25rem;
            border-radius: 0.25rem;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="container">
        <h1>Create a Training Plan - Step 1</h1>
        <form method="post" action="{% url 'training-plan-creation' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name:</label>
                {{ form.name }}
                {% if form.errors.name %}
                    <div class="alert alert-danger">{{ form.errors.name }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                {{ form.description }}
                {% if form.errors.description %}
                    <div class="alert alert-danger">{{ form.errors.description }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_number_of_weeks">Number Of Weeks:</label>
                {{ form.number_of_weeks }}
                {% if form.errors.number_of_weeks %}
                    <div class="alert alert-danger">{{ form.errors.number_of_weeks }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_training_days_of_the_week">Training days of the week:</label>
                {{ form.training_days_of_the_week }}
                {% if form.errors.training_days_of_the_week %}
                    <div class="alert alert-danger">{{ form.errors.training_days_of_the_week }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_starting_date">Starting Date:</label>
                {{ form.starting_date }}
                {% if form.errors.starting_date %}
                    <div class="alert alert-danger">{{ form.errors.starting_date }}</div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}
