{% extends 'pages/climbers/base.html' %}

{% block scripts %}
    <script>
        const config = {
            responsive: true
        };
    </script>
    <script>
        const buildTrace = (data) => {
            const lineTrace = {
                x: [],
                y: [],
                text: [],
                mode: 'lines+markers',
                line: {shape: 'spline'}
            }
            data.forEach(function (entry) {
                lineTrace.x.push(entry.formatted_date_climbed);
                lineTrace.y.push(entry.total_entries);
                lineTrace.text.push(`Completed boulder(s) ${entry.total_entries}`);
            });
            return lineTrace
        }
        Plotly.newPlot('number-of-completed-boulders-by-date', [buildTrace({{ retrieve_boulder_count_by_climbed_date_data|safe }})], {
            title: 'Completed Boulders Over Time',
            xaxis: {
                title: 'Date Climbed'
            },
            yaxis: {
                title: 'Number of Entries'
            }
        }, config);
    </script>
    <script>

        var databaseData = {{ number_of_attempts_boulder_name_grade_and_date_climbed_data|safe }};

        var traceData = {};

        // Iterate through the data
        databaseData.forEach(function (entry) {
            var trace = entry.boulder__name;
            // If the trace doesn't exist, create it
            if (!traceData[trace]) {
                traceData[trace] = {
                    x: [],
                    y: [],
                    text: [],
                    mode: 'markers',
                    type: 'scatter',
                    name: entry.boulder__name,
                    marker: {
                        size: [],
                        opacity: 0.5,
                    },
                };
            }

            // Add data to the corresponding grade trace
            traceData[trace].x.push(entry.formatted_date);
            traceData[trace].y.push(entry.boulder__grade);
            traceData[trace].text.push(`${entry.boulder__name} | ${entry.total_attempts} attempt(s)`);
            traceData[trace].marker.size.push(entry.total_attempts * 10);
        });

        // Create an array of grade traces
        var traces = Object.values(traceData);

        // Plot the bubble graph
        Plotly.newPlot('number-of-attempts-boulder-name-grade-and-date-climbed', traces, {
            title: 'Completed Benchmark Boulders',
            xaxis: {
                title: 'Climbed Date',
                tickformat: '%Y-%m-%d'
            },
            yaxis: {
                title: 'Boulder Grade'
            },
            legend: {
                itemclick: 'all', // Set the itemclick to 'all' to show all trace names
            }
        });

    </script>
    <script>
        var user = {{ benchmark_boulders_by_grade_proportion_climber_data|safe }};
        var total = {{ total_benchmark_boulders_by_grade_proportion_data|safe }};

        // Create an object to store data for each grade
        var userData = {
            x: [], y: [], type: 'bar', name: 'Completed', marker: {
                color: 'rgb(55,160,60,0.7)',
            },
            width: []
        };

        // Populate gradeData with user data
        user.forEach(function (entry) {
            var grade = entry.boulder__grade;
            var count = entry.boulder_count;

            userData.x.push(grade);
            userData.y.push(count);
            userData.width.push(0.5)
        });

        var totalData = {
            x: [], y: [], type: 'bar', name: 'Total', marker: {
                color: 'rgba(222,45,38,0.7)',
            },
            width: []
        };

        // Combine total data with user data in gradeData
        total.forEach(function (entry) {
            var grade = entry.grade;
            var count = entry.boulder_count;

            totalData.x.push(grade);
            totalData.y.push(count);
            totalData.width.push(0.5)
        });

        // Create layout
        var layout = {
            title: 'Benchmark Boulders Completion Progress',
            xaxis: {
                title: 'Grade',
            },
            yaxis: {
                title: 'Count',
            },
            barmode: 'stack',
        };
        // Plot the stacked bar graph
        Plotly.newPlot('benchmark-boulders-by-grade-proportion', [userData, totalData], layout);
    </script>
    <script>
        const buildCompletedBouldersByDateTrace = (data) => {
            const sunburstData = {
                'labels': [],
                'parents': [],
                'values': [],
            };

            data.forEach(function (entry) {
                const exercise = entry.workout__exercise__name;
                const subCategory = entry.workout__exercise__sub_category__category__name;
                const category = entry.workout__exercise__sub_category__name;

                if (!sunburstData['labels'].includes(category)) {
                    sunburstData['labels'].push(category);
                    sunburstData['parents'].push('');
                    sunburstData['values'].push(0);
                }

                const categoryIndex = sunburstData['labels'].indexOf(category);

                if (!sunburstData['labels'].includes(subCategory)) {
                    sunburstData['labels'].push(subCategory);
                    sunburstData['parents'].push(category);
                    sunburstData['values'].push(0);
                }

                const subCategoryIndex = sunburstData['labels'].indexOf(subCategory);

                if (!sunburstData['labels'].includes(exercise)) {
                    sunburstData['labels'].push(exercise);
                    sunburstData['parents'].push(subCategory);
                    sunburstData['values'].push(0);
                }

                const exerciseIndex = sunburstData['labels'].indexOf(exercise);
                sunburstData['values'][categoryIndex] += 1;
                sunburstData['values'][subCategoryIndex] += 1;
                sunburstData['values'][exerciseIndex] += 1;
            });

            return sunburstData;
        };

        const sunburstData = buildCompletedBouldersByDateTrace({{ completed_workouts_exercise_category_data|safe }});

        Plotly.newPlot('completed-workouts-exercise-category', [{
            type: 'sunburst',
            labels: sunburstData.labels,
            parents: sunburstData.parents,
            values: sunburstData.values,
            textinfo: 'label+percent parent',
            hovertemplate: '%{label}<br>%{value}<extra></extra>'
        }], {
            title: 'Completed Workouts',
            margin: {l: 0, r: 0, b: 0, t: 40},
            leaf: {opacity: 0.4},
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Data Analytics Graph</h1>
    <div id="completed-workouts-exercise-category"></div>
    <div id="number-of-attempts-boulder-name-grade-and-date-climbed"></div>
    <div id="benchmark-boulders-by-grade-proportion"></div>
    <div id="number-of-completed-boulders-by-date"></div>
{% endblock %}
