{% extends 'pages/base.html' %}

{% load i18n static %}

{% block title %}
    {{ _("Climb Hard - Edit Exercise") }}
{% endblock title %}
{% block style %}
    <style>
        .alert {
            margin-top: 0.5rem;
        }

        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            padding: 0.75rem 1.25rem;
            border-radius: 0.25rem;
        }

        .workout-cards {
            font-size: 0.6rem;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="container">
        <h1>Training Plan: {{ training_plan.name }}</h1>

        <ul class="nav nav-tabs" id="weeksTabs" role="tablist">
            {% for week in training_plan.week_set.all %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="week-{{ week.id }}-tab"
                       data-bs-toggle="tab" href="#week-{{ week.id }}" role="tab" aria-controls="week-{{ week.id }}"
                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        Week {{ week.week_number }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="weeksTabsContent">
            {% for week in training_plan.week_set.all %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="week-{{ week.id }}"
                     role="tabpanel" aria-labelledby="week-{{ week.id }}-tab">
                    <div class="row">
                        {% for day in week.day_set.all %}
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <strong class="card-title mb-0">{{ day.date }} -
                                                {{ day.day_of_the_week }}</strong>
                                            <a href="{% url 'workouts-for-day' day.id %}" class="edit-icon">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </div>
                                        <p class="card-text">{{ day.description }}</p>
                                        {% if day.workout_set.all %}
                                            <div class="workout-cards">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Exercise</th>
                                                        <th>Sets</th>
                                                        <th>Reps</th>
                                                        <th>Time</th>
                                                        <th>Weight</th>
                                                        <th>RPE</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for workout in day.workout_set.all %}
                                                        <tr>
                                                            <td>{{ workout.exercise.name }}</td>
                                                            <td>{{ workout.sets }}</td>
                                                            <td>{{ workout.target_repetitions|default_if_none:"-" }}</td>
                                                            <td>{{ workout.target_time|default_if_none:"-" }}</td>
                                                            <td>{{ workout.target_weight|default_if_none:"-" }}</td>
                                                            <td>{{ workout.target_rpe }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
