{% extends 'pages/base.html' %}
{% load i18n static %}


{% block title %}{{ _('Climb Hard - Home') }}{% endblock %}

{% block style %}
    <style>
        .exercise-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 12px 12px 6px;
            margin-bottom: 12px;
        }

        .exercise-card .exercise-header {
            display: flex;
            justify-content: space-between;
        }

        .exercise-card .exercise-header .edit-icon {
            font-size: 1.4rem; /* Adjust the font size as desired */
            color: #333; /* Adjust the color of the icon */
            margin-right: 5px; /* Adjust the spacing between the icon and the exercise name */
        }

        .exercise-card .exercise-name {
            font-size: 1.4rem;
            margin-top: 0;
            margin-bottom: 8px;
        }

        .exercise-card .exercise-tags {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
        }

        .exercise-card .exercise-tags .badge {
            margin-right: 4px;
            font-size: 0.8rem;
            padding: 4px 8px;
        }

        .exercise-card .exercise-details {
            margin-top: 12px;
        }

        .exercise-card .exercise-description-row {
            display: flex;
            justify-content: space-between;
        }

        .exercise-card .exercise-description-row .exercise-description {
            font-size: 0.9rem;
            margin-bottom: 6px;
        }

        .exercise-card .exercise-created-by {
            color: #888;
            font-size: 0.8rem;
            margin-top: 8px;
            margin-bottom: 4px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>My Pending Review Exercises</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Exercises</h2>
                {% for exercise in pending_exercises %}
                    <div class="exercise-card pending-exercises-card">
                        <div class="exercise-header">
                            <h4 class="exercise-name">
                                {{ exercise.name }}
                            </h4>
                            <a href="{% url 'retrieve_exercise' exercise.id %}" class="edit-icon">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="exercise-tags">
                            <span style="background-color: {{ exercise.exercise_type.category.color }}"
                                  class="badge">{{ exercise.exercise_type }}</span>
                        </div>
                        <p class="exercise-description">{{ exercise.description }}</p>
                        <p class="exercise-created-by">Created by: {{ exercise.created_by }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2>Exercise Variations</h2>
                {% for variation in pending_variations %}
                    <div class="exercise-card pending-variations-card">
                        <div class="exercise-header">
                            <h4 class="exercise-name">
                                {{ variation.exercise.name }}
                            </h4>
                            <a href="#" class="edit-icon">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="exercise-tags">
                            <span style="background-color: {{ variation.exercise.exercise_type.category.color }}"
                                  class="badge">{{ variation.exercise.exercise_type }}</span>
                        </div>
                        <div class="exercise-details">
                            <div class="exercise-description-row">
                                <p class="exercise-description sets"><strong>Sets:</strong> {{ variation.sets }}</p>
                                <p class="exercise-description repetitions">
                                    <strong>Repetitions:</strong> {{ variation.repetitions }}</p>
                            </div>
                            <div class="exercise-description-row">
                                <p class="exercise-description rest-between-sets"><strong>Rest between
                                    Sets:</strong> {{ variation.rest_per_set_in_seconds }} seconds</p>
                                <p class="exercise-description duration-per-repetition"><strong>Duration per
                                    Repetition:</strong> {{ variation.seconds_per_repetition }} seconds</p>

                            </div>
                            <div class="exercise-description-row">
                                {% if variation.exercise.should_add_weight %}
                                    <p class="exercise-description weight">
                                        <strong>Weight:</strong> {{ variation.weight_in_kilos }}
                                        kg</p>
                                {% endif %}
                                <p class="exercise-description rest-between-repetitions"><strong>Rest between
                                    Repetitions:</strong> {{ variation.rest_per_repetition_in_seconds }} seconds</p>
                            </div>
                        </div>
                        <p class="exercise-created-by">Created by: {{ variation.created_by }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
